.main {
    color: white;
    background-color: rgb(92, 175, 47) ;
    height: 25px;
    width: 60px;
    display: grid;
    place-items: center;
}

.ht {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #cccccc;
}
