.html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.landing{
    width: 100%;
    height: 350px;
    background: url('./bg.png');
    background-position: right bottom;
    background-size: 40% 76%;
    background-repeat: no-repeat;
}

.landing__menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.landing__menu li a {
    margin: 0 20px;
    text-decoration: none;
    color: #1c1c1c;
    font-weight: 500;
    font-size: 18px;
}
.landing__content {
    margin: 120px auto;
    width: 70%;
}
.landing__btn{
    text-decoration: none;
    color: white;
    display: grid;
    font-size: 14px;
    place-items: center;
    background-color: #3C9CCC;
    height: 40px;
    width: 130px;
    
}

.bottom {
    background-color: black;
    text-align: center;
    width: 100%;
    height: 350px;
}
.bottom .email {
    width: 225px;
    height: 28px;
    object-fit: fill;
    border: white;
    border-radius: 3px;
}
.bottom .subs {
    width: 90px;
    height: 31px;
    color: white;
    background-color:#3C9CCC ;
    object-fit: fill;
    border: white;
    border-radius: 3px;
}

.bottom__color1 {
    color: rgba(255, 255, 255, 0.877);
}
.bottom__color2 {
    color: rgba(255, 255, 255, 0.637);
    font-size: 13px;
}
.bottom__color3 {
    color: rgba(255, 255, 255, 0.336);
    padding-right: 172px;
    font-size: 12px;

}